<ion-header>
</ion-header>
<ion-content>
  <ion-footer-bar>
    <form padding #formpost="ngForm" class="card">
      <ion-card class="formLogin">
        <ion-item>
          <ion-label position="stacked">Login</ion-label>
          <ion-input [(ngModel)]="usuarioForm.email" type="text" name="email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Senha</ion-label>
          <ion-input [(ngModel)]="usuarioForm.senha" type="password" name="senha"></ion-input>
        </ion-item>
        <ion-item *ngIf="erroLogin!='true'">
          <ion-label position="stacked">{{erroLogin}}</ion-label>
        </ion-item>
        <ion-section class="button">
          <ion-button color="danger" (click)="login()">Entrar</ion-button>
          <ion-button color="light" (click)="cadastrar()">Cadastrar</ion-button>
        </ion-section>
      </ion-card>
    </form>
  </ion-footer-bar>
</ion-content>